# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Node
node_modules

# Self defined
.idea

# golang
golang/bin
golang/pkg

# experiment/bin
experiment/bin

# experiment/elasticsearch
experiment/elasticsearch/conf/elasticsearch/elasticsearch.keystore
experiment/elasticsearch/data
experiment/elasticsearch/log
experiment/elasticsearch/nginx/log

# experiment/envoy
experiment/envoy/log

# experiment/kafka
experiment/kafka/data
experiment/kafka/log

# experiment/prometheus
experiment/prometheus/federation/data/node*
experiment/prometheus/federation/data/master
experiment/prometheus/federation/data/grafana/public
experiment/prometheus/federation/log

# dist-system-practice
golang/src/dist-system-practice/mysql/data
golang/src/dist-system-practice/mysql/log
golang/src/dist-system-practice/vendors/kafka/kafka